<div class="row" [hidden]="isInEditMode == true" style="margin: 2px;" title="double click to Edit..."
     (dblclick)="backup();isInEditMode = true;">
  <div class="col-xs-11">
    <div id="cView" #cView class="editor-style">

    </div>
  </div>
</div>
<div class="row" [hidden]="isInEditMode == false" style="margin: 2px;margin-top: 20px; ">
  <div class="col-xs-12">
    <comment-editor [htmlContent]="comment.text"
                    [hidden]="isIssue == true" id="commentEdit" #commentEdit></comment-editor>
    <comment-editor [htmlContent]="issue.text"
                    [hidden]="isIssue == false" id="issueEdit" #issueEdit></comment-editor>
  </div>
</div>

<div class="row" [hidden]="isInEditMode == false || isNew">
  <div class="col-xs-6">
    <button class="btn btn-danger" style="float: right;" (click)="onDelete()"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
    <button class="btn btn-info" style="float: right;margin-right: 30px;" (click)="onSave()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-secondary" style="float: left;" (click)="onCancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
  </div>
</div>
