﻿/* You can add global styles to this file, and also import other style files */
@import "./font-awesome/scss/font-awesome.scss";

.center {
  margin: 0 auto;
  text-align: center;
  display: block;
  }

.left-align {
  margin-left: 0 !important;
  margin-right: auto !important;
  //text-align: left;
  }

.right-align {
  margin-left: auto !important;
  margin-right: 0 !important;
  //text-align: right;
  }

.vertical-align {
  //  vertical-align: middle;
  position: relative;
  top: 50%; //todo (50% top from parent - 50% child height)

  //-webkit-transform: translateY(-50%);
  //-moz-transform: translateY(-50%);
  //-ms-transform: translateY(-50%);
  //-o-transform: translateY(-50%);
  //transform: translateY(-50%);
  }

.vertical-align-parent {
  //use line-height: ?px;
  position: relative;
  }

.vertical-align-child {
  position: absolute;
  top: 50%;
  }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

//.clearfix
.cf:before,
.cf:after {
  content: " ";
  display: table;
  }

.cf:after {
  clear: both;
  }

.cf {
  *zoom: 1;
  }

$circle-size: 18px;
.circle {
  display: inline-block;
  height: $circle-size;
  width: $circle-size;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  }

span, p, h1, h2, h3, h4, h5, h6, a, pre {
  font-family: 'Arial', sans-serif;
  color: black;
  font-size: 12pt;
  }

div {
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
  }

input, button, label {
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
  }

*.unselectable > ::selection {
  background-color: transparent;
  }

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
  }

::-webkit-scrollbar-thumb {
  background-color: #5BC0DE;
  outline: 1px solid #5BC0DE;
  }


.span-link {
  color: #007BFF !important;
  cursor: pointer;
  text-decoration: underline;
  display: block;
  }

span-link:hover, span-link:active {
  color: #00CCFF !important;
  }

  .breadcrumb{
  background-color: rgba(236, 238, 239,0.2) !importent;
  }