<div class="row" style="margin-bottom: 5px;">
  <div class="col-xs-6">
      <issues-filter [issues]="issues" (onFilter)="onFilter($event)" id="filterBox" #filterBox></issues-filter>
  </div>

  <div class="col-xs-6">
    <button class="btn btn-success" style="float: right;" (click)="gotoNewIssue()"><i class="fa fa-plus" aria-hidden="true"></i> new Issue</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <issues-list [issues]="filtered | log"></issues-list>
  </div>
</div>
