<select [ngModel]="selectedTag" (ngModelChange)="onTagChange($event)">
  <option value="">show all tags</option>

  <option *ngFor="let t of allTags" [ngValue]="t.tagName"
          [style.background-color]="t.color" style="color: white;">{{t.tagName}}</option>
</select>
