<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-info" (click)="doFormat('large')">
          <span style='font-size: 18pt;'>Large</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('small')">
          <span style='font-size: 9pt;'>Small</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('bold')">
          <span style='font-weight: bold;'>Bold</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('italic')">
          <span style='font-style: italic;'>Italic</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('underline')">
          <span style='text-decoration: underline;'>Underline</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 smallBtn">
        <button class="btn btn-secondary" (click)="doFormat('color','#ff0000')">
          <div class="circle" style="background-color: rgb(255, 0, 0)"></div>
        </button>
        <button class="btn btn-secondary" (click)="doFormat('color','#ff9900')">
          <div class="circle" style="background-color: rgb(255, 153, 0)"></div>
        </button>
        <button class="btn btn-secondary" (click)="doFormat('color','#ffff00')">
          <div class="circle" style="background-color: rgb(255, 255, 0)"></div>
        </button>
        <button class="btn btn-secondary" (click)="doFormat('color','#00ff00')">
          <div class="circle" style="background-color: rgb(0, 255, 0)"></div>
        </button>
        <button class="btn btn-secondary" (click)="doFormat('color','#00ffff')">
          <div class="circle" style="background-color: rgb(0, 255, 255)"></div>
        </button>
        <button class="btn btn-secondary" (click)="doFormat('color','#0000ff')">
          <div class="circle" style="background-color: rgb(0, 0, 255)"></div>
        </button>
        <button class="btn btn-secondary" (click)="doFormat('color','#9900ff')">
          <div class="circle" style="background-color: rgb(153, 0, 255)"></div>
        </button>
        <button class="btn btn-secondary" (click)="doFormat('color','#ff00ff')">
          <div class="circle" style="background-color: rgb(255, 0, 255)"></div>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 smallBtn">
        <button class="btn btn-info" (click)="doFormat('font','Arial')" title="Arial">
          <span style='font-family: Arial;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Aharoni')" title="Aharoni">
          <span style='font-family: Aharoni;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Calibri Light')" title="Calibri Light">
          <span style='font-family: "Calibri Light";'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Centaur')" title="Centaur">
          <span style='font-family: Centaur;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Consolas')" title="Consolas">
          <span style='font-family: Consolas;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Courier New')" title="Courier New">
          <span style='font-family: "Courier New";'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','David')" title="David">
          <span style='font-family: David;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','FrankRuehl')" title="FrankRuehl">
          <span style='font-family: FrankRuehl;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Helvetica')" title="Helvetica">
          <span style='font-family: "Helvetica Neue", Helvetica;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Lucida Console')" title="Lucida Console">
          <span style='font-family: "Lucida Console";'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Miriam Fixed')" title="Miriam Fixed">
          <span style='font-family: "Miriam Fixed";'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Monotype Corsiva')" title="Monotype Corsiva">
          <span style='font-family: "Monotype Corsiva";'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Narkisim')" title="Narkisim">
          <span style='font-family: Narkisim;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Segoe UI')" title="Segoe UI">
          <span style='font-family: "Segoe UI";'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Tahoma')" title="Tahoma">
          <span style='font-family: Tahoma;'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Times New Roman')" title="Times New Roman">
          <span style='font-family: "Times New Roman";'>Abc</span>
        </button>
        <button class="btn btn-info" (click)="doFormat('font','Verdana')" title="Verdana">
          <span style='font-family: Verdana;'>Abc</span>
        </button>
      </div>
    </div>
    <textarea id="ta" #ta (change)="htmlChanged($event)" style="width: 90vw;height: 300px; border: dotted #2b67a3 1px">{{htmlContent}}</textarea>

  </div>
</div>

