
.panelContainer {
  position: absolute;
  right: 0;
  left: 0;
  }

.headerContainer {
  @extend .panelContainer;
  top: 0;
  }

.footerContainer {
  @extend .panelContainer;
  bottom: 0;
  z-index: 4;
  }

.ContentContainer {
  //please dont add padding;this kills the backgrounds
  //padding-top:10px;
  height: calc(100% - 87px);
  overflow: auto;
  }

.ContentContainer::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  }

.ContentContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

.ContentContainer::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  outline: 1px solid dodgerblue;
}
