<div class="headerContainer" class="row" style="z-index:10000">
    <div class="col-xs-12">
      <h1 style="text-decoration: underline;font-weight:bold ;margin-top: 8px;">Issues:</h1>
    </div>
</div>
<div class="ContentContainer" style="overflow-x:hidden">
  <router-outlet></router-outlet>
</div>
<div class="footerContainer">
</div>
