<div class="row issue-border">
  <div class="col-xs-6" (click)="gotoIssue()">
    <span style="color:black;margin-left: 6px;" class="span-link">{{issue.title}}</span>
  </div>
  <div class="col-xs-6">

    <span *ngFor="let t of tags" [style.background-color]="t?.color" class="tag-text">
      {{t?.tagName}}
    </span>
  </div>
</div>
