<div class="row">
  <div class="col-xs-12">
    <h1 class="issue-title">Title:
      {{issue?.title}}</h1>

    <div class="row">
      <div class="col-xs-12" style="margin-left: 20px; color: white;">
        <label *ngFor="let tg of allTags" [style.background-color]="tg?.color"
               class="tag-style">
          <input type="checkbox" [checked]="tg.isChecked"
                 (change)="tg.isChecked = !tg.isChecked"/>
          {{tg.tagName}}
        </label>

      </div>
    </div>
    <comment-view [issue]="issue" [isIssue]="true" style="margin-bottom: 20px;"></comment-view>

    <comment-view *ngFor="let cmt of comments" [comment]="cmt" [issueId]="issue?.id" style="margin-bottom: 20px;"></comment-view>

    <p style="margin-top: 20px;font-size: 16pt;">add new comment:</p>
    <comment-view [comment]="newComment" [isInEditMode]="true" [isNew]="true"
                  style="margin-bottom: 20px;" id="newCommentEdit" #newCommentEdit></comment-view>

    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-info" style="float: right;" (click)="onSave()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-danger" style="float: left;" (click)="onCancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>
