

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}


.bg {
	background: url('../../assets/bg.jpg') center top no-repeat fixed #ffffff;
	height: 100%;
}

@media only screen and (max-width: 700px) {
	.bg {
		background-size:auto 100%;
	}
	.hideMobile{
		visibility: collapse;
	}
	.navbar-expand .navbar-nav
	{
		flex-direction: column;
	}
}

@media only screen and (min-width: 701px) {
	.bg {
		background-size:cover;
	}
	.hideMobile{
		visibility: visible;
	}
	.navbar-expand .navbar-nav
	{
		flex-direction: row;
	}
}

.content-bg {
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
	min-height: 100%;
}

.bg-light {
	background-color: rgba(248, 249, 250, 0.6) !important;
}

.offset-1 {
	margin-left: 8.333333%;
}

.fas {
	margin-left: 5px;
}
.card-body{
	min-height: 190px;
}
.card{
	background-color: rgba(255, 255, 255, 0.8) !important;
}
img{
	height:30px;
}
.center {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.left-align {
	margin-left: 0 !important;
	margin-right: auto !important;
/ / text-align: left;
}

.right-align {
	margin-left: auto !important;
	margin-right: 0 !important;
/ / text-align: right;
}

.vertical-align-parent {
/ / use line-height: ? px;
	position: relative;
}

.vertical-align-child {
	position: absolute;
	top: 50%;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

*.unselectable > ::selection {
	background-color: transparent;
}



.clearfix
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

.circle {
	display: inline-block;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

span, p, h1, h2, h3, h4, h5, h6, a, pre {
	font-family: 'Arial', sans-serif;
	color: black;
	font-size: 12pt;
}

div {
	font-family: 'Arial', sans-serif;
	font-size: 12pt;
}

input, button, label {
	font-family: 'Arial', sans-serif;
	font-size: 12pt;
}

::-webkit-scrollbar {
	width: 5px;
	height: 1px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb {
	background-color: #5BC0DE;
	outline: 1px solid #5BC0DE;
}

.span-link {
	color: #007BFF !important;
	cursor: pointer;
	text-decoration: underline;
	display: block;
}

span-link:hover, span-link:active {
	color: #00CCFF !important;
}
