<div class="row issue-style">
  <div class="col-xs-12">
    <p>add new issue:</p>

    <input [(ngModel)]="issue.title" placeholder="Title" style="width:310px;margin-bottom: 3px;" id="titleTxt" #titleTxt/>
    <comment-editor [htmlContent]="issue.text" style="width: 90vw" id="issueEdit" #issueEdit></comment-editor>

    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-info" style="float: right;" (click)="onSave()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-danger" style="float: left;" (click)="onCancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>
